---
import { defaultModel, Model } from '@alephdata/followthemoney';
import IndexTable from '@components/explorer/IndexTable.astro';
import PropertyTypeLink from '@components/explorer/PropertyTypeLink.astro';
import BooleanValue from '@components/explorer/BooleanValue.astro';

const model = new Model(defaultModel);
const types = Object.values(model.types).sort((a, b) =>
  a.label.localeCompare(b.label)
);
---

<IndexTable>
  <tr slot="head">
    <th>Label</th>
    <th>Name</th>
    <th>Matchable</th>
    <th>Pivot</th>
  </tr>
  {types.map((type) => (
    <tr>
      <td>
        <PropertyTypeLink {type}>{type.label}</PropertyTypeLink>
      </td>
      <td>
        <code>{type.name}</code>
      </td>
      <td><BooleanValue value={type.matchable} /></td>
      <td><BooleanValue value={type.pivot} /></td>
    </tr>
  ))}
</IndexTable>
