---
import PropertyType from '@components/explorer/PropertyType.astro';
import SchemaLink from '@components/explorer/SchemaLink.astro';
import IndexTable from '@components/explorer/IndexTable.astro';
import { Icon } from 'astro-theme-docs/components';

const { schema } = Astro.props;

const isFeatured = (property) =>
  property.schema.featured.includes(property.name);

const isInherited = (property) => property.schema.name !== schema.name;

const properties = Array.from(schema.getProperties().values())
  .sort((a, b) => a.name.localeCompare(b.name))
  .sort((a, b) => isFeatured(b) - isFeatured(a));
---

<style>
  .SchemaProperties__header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--space-sm);
  }

  .SchemaProperties__schema {
    opacity: 66%;
  }

  .SchemaProperties__featured {
    width: 0.8em;
    height: 0.8em;
    vertical-align: -5%;
    color: rgb(234, 179, 8);
  }

  [data-show-inherited='false'] [data-is-inherited] {
    display: none;
  }
</style>

<script>
  window.addEventListener('DOMContentLoaded', () => {
    const container = document.querySelector('#schema-properties');
    const toggle = document.querySelector(
      '#schema-properties-inherited-toggle'
    );

    toggle.checked = true;

    toggle.addEventListener('change', () => {
      container.dataset.showInherited = toggle.checked ? 'true' : 'false';
    });
  });
</script>

<div class="SchemaProperties" id="schema-properties" data-show-inherited="true">
  <div class="SchemaProperties__header">
    <h2 class="beta">Properties</h2>

    <label>
      <input type="checkbox" id="schema-properties-inherited-toggle" checked />
      Show inherited
    </label>
  </div>

  <IndexTable>
    <tr slot="head">
      <th>Name</th>
      <th>Label</th>
      <th>Type</th>
    </tr>

    {
      properties.map((prop) => (
        <tr data-is-inherited={isInherited(prop)}>
          <td>
            {/* prettier-ignore */}
            <code><span class="SchemaProperties__schema">{prop.schema.name}:</span>{prop.name}</code>
            {isFeatured(prop) && (
              <Icon icon="start" className="SchemaProperties__featured" />
            )}
          </td>

          <td>{prop.label}</td>

          <td>
            <PropertyType property={prop} />
          </td>
        </tr>
      ))
    }
  </IndexTable>
</div>
