---
import util from 'node:util';
import childProcess from 'node:child_process';
const exec = util.promisify(childProcess.exec);

const branch = 'website-astro';
const siteRoot = '/site/';
const path = Astro.props.path.split(siteRoot).slice(-1)[0];
const baseUrl = (view) => `https://github.com/alephdata/followthemoney/${view}/${branch}${siteRoot}`;

const command = `git log -1 --pretty="format:%cs" --date=short ${branch} -- ${path}`;
const { stdout, stderr } = await exec(command);
---

<div class="mt-8 text-slate-500 text-sm">
  {stderr}
  <div class="mb-1">
    <a
      href={`${baseUrl('commits')}${path}`}
      class="underline"
      noreferrer
      noopener
    >Last updated on {stdout}.</a>
  </div>
  <a
    href={`${baseUrl('edit')}${path}`}
    class="underline"
    noreferrer
    noopener
  >Edit this page on GitHub.</a>
</div>