---
import { Model, defaultModel } from '@alephdata/followthemoney';
import { Stack } from 'astro-theme-docs/components';
import ExplorerLayout from '@layouts/ExplorerLayout.astro';
import SchemaExtends from '@components/explorer/SchemaExtends.astro';
import SchemaProperties from '@components/explorer/SchemaProperties.astro';

const { name } = Astro.params;
const { schema } = Astro.props;

const model = new Model(defaultModel);

export function getStaticPaths() {
  const model = new Model(defaultModel);
  return Object.entries(model.schemata).map(([name, schema]) => ({
    params: { name },
    props: { schema },
  }));
}
---

<ExplorerLayout activeSchema={schema}>
  <Stack size="xl">
    <header>
      <h1 class="alpha">{schema.label}</h1>
      {schema.description && <p class="lead">{schema.description}</p>}
    </header>

    <SchemaExtends schema={schema} />
    <SchemaProperties schema={schema} />
  </Stack>
</ExplorerLayout>
