---
import { Model, defaultModel } from '@alephdata/followthemoney';
import ExplorerLayout from '@layouts/ExplorerLayout.astro';
import SchemaExtends from '@components/explorer/SchemaExtends.astro';
import SchemaProperties from '@components/explorer/SchemaProperties.astro';

const { name } = Astro.params;
const { schema } = Astro.props;

const model = new Model(defaultModel);

export function getStaticPaths() {
  const model = new Model(defaultModel);
  return Object.entries(model.schemata).map(([name, schema]) => ({
    params: { name },
    props: { schema },
  }));
}
---

<ExplorerLayout activeSchema={schema}>
  <header class="mb-12">
    <h1 class="mb-2">{schema.label}</h1>
    {schema.description && <p class="lead mt-0">{schema.description}</p>}
  </header>

  <SchemaExtends schema={schema} />
  <SchemaProperties schema={schema} />
</ExplorerLayout>
